{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Some information for the upcoming round
{% endblock %}

{% block content %}

	{% if group.info == "Bel" %}

		<p> In this round you will be informed on the beliefs your group mate has on his ability. He thinks to be in the {{ other_confidence }} percentile. </p>

	{% elif group.info == "Act" %}

		<p> In this round you will be informed on the actual ability of yuor group mate, namely he is in the {{ other_result }} percentile. </p>

	{% elif group.info == "No" %}

		<p> In this round no additional information will be given about your group mate's ability. </p>

	{% elif group.info == "Ctrl" %}

		<p> In this round, the MPCR will be {{ MPCR_CTRL }}. </p>

	{% else %}

		<p> There has been an error!! </p>

	{% endif %}

    {% next_button %}

{% endblock %}