{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Relative elicitation of confidence level
{% endblock %}

{% block content %}
	<p> Now let us now in which percentile you think your performance is located with regard to what the others did. Namely, if you think you have been the worse you are going to be in the 0th percentile, if you think yours was the best performance in the 100th. [You can estimate an upper and lower interval]. </p>
    {% formfield player.relative with label="In which percentile do you think you are?" %}

    {% next_button %}

{% endblock %}
